.contact
    height: 100vh
    .bckg-topbar
        padding: 1rem 0 1rem 0
        background-color: $primary
    &__topbar
        display: flex
        justify-content: space-around
        &_logo
            display: flex
            align-items: center
            color: $white
            &_h2
                font-family: 'Poppins', sans-serif
                font-weight: bold
                font-size: 1.5rem
                padding: 0 0.25rem 0 0.25rem
        &_navigation
            display: flex
            align-items: center
            &_nav
                margin-left: 4rem
                color: $white
                font-family: 'Rubik', sans-serif
    &__all
        display: flex
        justify-content: space-around
        margin-top: 5rem
        &_image
            &_h2
                font-family: 'Poppins', sans-serif
                font-weight: bold
                font-size: 2rem
            &_img
                height: 20rem
                margin-top: 3rem
        &_form
            margin-top: 5rem
            &_first-inputs
                &_input
                    margin-right: 4rem
                &_input1
                .frst-inpt
                    padding: 1rem
                    border-radius: 10rem
                    width: 13rem
                    border: 2px solid $border-inpt
                    -webkit-box-shadow: 1.5px 1.5px 10px 0px rgba(0,0,0,0.12)
            &_second-inputs
                display: flex
                flex-direction: column
                align-items: center
                &_input
                .scnd-inpt
                    margin-top: 3rem
                    width: 100%
                    padding: 1rem
                    border-radius: 10rem
                    border: 2px solid $border-inpt
                    -webkit-box-shadow: 1.5px 1.5px 10px 0px rgba(0,0,0,0.12)
                &_button
                    margin-top: 2rem
                    padding: .5rem 1rem
                    border-radius: 10rem
                    font-family: 'Rubik', sans-serif
                    font-size: 1.5rem
                    font-weight: bold
                    color: $white
                    background-color: $gris-btn
                    border: none
                    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.35)
